@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}

.main-presentation {
    display: flex;
    flex-direction: column;
}
.contact-presentation{
    width: 100%;
    justify-content: center;
}
.contact-title{
    padding: 1% 0 2% 0;
    font-family: 'Krona One', sans-serif;
    font-size: 2.25rem;
    text-align: center;
}

.contact-paragraph{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    text-align: center;
}

.contact-image-presentation{
    width: 100%;

}

.contact-form-wrapper{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin: 2% 9% 5%;
  padding: 2% 2%;
  background-color: #272727;
  border-radius: 8px;
}

.single-row{
  width: 100%;
  clear: both;
}

.single-column{
    width: 50%;
    float: left;
}

.single-column input {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  width: 95%;
  padding: 2% 2%;
  line-height: 1.6;
  margin: 2% 0;
  border: 1px solid #22d4fd;
  background-color: #272727;
  color: #f6f6f6;
  border-radius: 8px;
}

.select-box{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  width: 95%;
  padding: 2% 2%;
  line-height: 1.6;
  margin: 2% 0;
  border: 1px solid #22d4fd;
  background-color: #272727;
  color: #f6f6f6;
  border-radius: 8px;
}

.contact-form-text{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 1% 2%;
  margin: 1% 0;
  border: 2px solid #22d4fd;
  color: #f6f6f6;
  border-radius: 8px;
  background-color: #272727;


}

.contact-form-submit{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    color: #f6f6f6;
    padding: 1% 5%;
    border-radius: 8px;
    border: 2px solid #22d4fd;
}

.contact-form-submit:hover{
    background-color: #22d4fd;
}