@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');



.main-presentation :not(.contact-image-presentation){
    display: flex;
    flex-direction: column;
}
.contact-presentation{
    width: 100%;
    justify-content: center;
    padding: 5%;
}
.contact-title{
    padding: 0 0 2% 0;
    font-family: 'Krona One', sans-serif;
    font-size: 2.25rem;
    text-align: center;
}

.contact-paragraph{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    text-align: center;
}

.contact-image-presentation{
    width: 100%;
}