@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root {
    --background-color: #000000;
    --secondary-color: #F6F6F6;
    --tertiary-color: #22D4FD;
    --navbar-color: #272727;

    --primary-font: 'Krona One', sans-serif;
    --secondary-font:'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* Box-sizing is responsible for calculating the total length and width of
    an element. The border-box sets the total dimension considering its parent container's dimensions*/
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

.header-presentation{
    /* Up, Right, Down, Left*/
    padding: 2%;
    background-color: var(--navbar-color);
}

.menu-header-presentation {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

.link-menu-header-presentation{
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 600px;
    color: var(--tertiary-color);
    text-decoration: none;
}

.presentation {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.content-presentation{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title-content-presentation {
    font-size: 2.25rem;
    font-family: var(--primary-font);
}

.highlight-title {
    color: var(--tertiary-color);
}

.paragraph-content-presentation {
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    text-align: justify;
}

.link-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.subtitle-link-presentation {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.5rem;
}

.button-link-presentation {
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 16px;
    border-radius: 8px;
    border: 2px solid var(--tertiary-color);
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 600;
}

.button-link-presentation:hover {
    background-color: var(--navbar-color);
}

.image-presentation{
    width: 50%;
    object-fit: cover;
}

.footer-presentation{
    display: flex;
    background-color: var(--tertiary-color);
    justify-content: center;
    padding: 23.64px;
}

.paragraph-footer-presentation {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    color: var(--background-color);
}

@media (max-width: 1200px) {
    .header-presentation{
        padding: 2% 2%;
    }

    .menu-header-presentation{
        justify-content: flex-end;
        gap: 5%;
    }

    .link-menu-header-presentation{
        font-size: 1rem;
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 40px;
    }

    .content-presentation{
        width: auto;
    }

    .title-content-presentation {
        font-size: 1.5rem;
}

    .paragraph-content-presentation {
        font-size: 1rem;
    }

    .subtitle-link-presentation {
        font-size: 1rem;
    }

    .button-link-presentation {
        padding: 2% 0;
        font-size: 1rem;
    }

    .image-presentation{
        width: 70%;
       padding: 5% 0 0 0;
    }

    .footer-presentation{
        padding: 2% 10%;
    }

    .paragraph-footer-presentation {
        font-size: 1rem;
    }